@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@font-face {
    font-family: fraunces, sans-serif;
    src: url("../fonts/fraunces.ttf");
}
@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat.ttf");
}

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --fs-14: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fraunces;
}
body {
    background: var(--cream);
}
.card {
    width: 600px;
    height: 450px;
    background-color: var(--white);
    margin: auto;
    border-radius: 10px; 
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card .card-image,
.card .card-detail {
    flex-basis: 50%;
}
.card .card-image {
    flex-basis: 50%;
    background-image: url('../images/image-product-desktop.jpg');
    background-position: center;
    background-size: cover;
}
.card .card-detail {
    padding: 40px;
}
.card-detail .card-lead {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue);
    margin-top: -15px;
    margin-bottom: 15px;
}
.card-detail .card-detail-title {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0;  
    line-height: 35px;
} 
.card-detail .card-detail-text {
    font-size: 14px;
    line-height: 25px;
    color: var(--dark-grayish-blue);
}
.card-prices {
    font-size: 32px;
    display: flex;
    justify-content: end;
    align-items: center;
    justify-content: start;
    margin: 25px 0;
    font-family: montserrat;
}
.card-prices .old-price {
    margin-left: 20px;
    font-size: 14px;
    color: var(--dark-grayish-blue);
}
.card-prices .current-price {
    color: var(--dark-cyan);
    font-weight: 600;
}
.card button {
    width: 100%;
    background-color: var(--dark-cyan);
    padding: 14px 0;
    color: var(--white);
    font-family: fraunces;
    font-size: 14px;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    margin-top: 10px;
}
.card-designer {
    width: 100%;
    text-align: center; 
    position: absolute;
    bottom: 10px;
}
.card-designer a {
    color: var(--dark-cyan);
    text-decoration: none;
}
@media screen and (max-width: 631px) {
    .card {
        width: 80%;
        height: 680px;
        flex-direction: column;
    }
    .card .card-image {
        height: 400px;
        background-position-y: top;
        background-size: 110%;
        background-image: url("../images/image-product-mobile.jpg");
    }
}
